body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(215, 236, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  border: 2px solid rgb(126, 170, 170);
  background-color: rgb(222, 234, 234);
  max-width: 50vw;
  height: auto;
  border-radius: 0.9rem;
  margin-left: 30vw;
}


.buttons{
  display: flex;
  gap:3rem;
}

.active{
 background-color: rgb(3, 90, 61);
 color: white;
}
button{
  background-color: rgb(60, 141, 114);
  border: rgb(60, 141, 114) ;
  border-radius: 0.2rem;
  cursor: pointer;
  color: white;
}