* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-color: #65656d;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.2rem 3rem;

  background-color: #525066;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.header h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.header button {
  border: none;
  outline: none;

  padding: 0.7rem 1.2rem;

  border-radius: 8px;

  background-color: #65656d;
  color: white;

  cursor: pointer;

  transition: all 0.3s ease;
}

.header button:hover {
  background-color: #7b7b86;
  transform: translateY(-2px);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;
}

.search-input {
  width: 320px;

  padding: 1rem 1.2rem;

  border: none;
  outline: none;

  border-radius: 10px;

  background-color: #525066;
  color: white;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  font-size: 1rem;
}

.search-input::placeholder {
  color: #d1d1d1;
}

.filter-select {
  padding: 1rem;

  border: none;
  outline: none;

  border-radius: 10px;

  background-color: #525066;
  color: white;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.countries {
  
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 3rem;
  list-style: none;
}

.countries-list {
  border: 1px solif #525066;
  height: 330px;
  background-color: #525066;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.countries-list:hover {
  transform: translateY(-8px);
}

.countries-list img {
  width: 100%;
  height: 170px;

  object-fit: cover;

  display: block;
}

.countries-list .info{
  padding: 2rem;
  margin-top: 0.5rem;
}
.countries-list .info h3{
  margin-bottom: 1rem;
}

.single-country{
  width:50vw;
  height:50vh;
  list-style: none;
}

.single-country li{
  width: 100%;
  height: 80%;
}

.single-country li img{
  width: 100%;
  height: 270px;
  object-fit: contain;
  display: block;
}

.country-modal{
  border: 1px solif #525066;
  margin-left: 10%;
  height: 70vh;
  width: 80vw;
  background-color: #525066;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnClose{
  all: unset;
 border-style: none;
 cursor: pointer;
 margin-left: 96%;
 font-size: x-large;
 font-weight: 600;
}
