body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

}
.range{
  accent-color: rgb(64, 72, 181);
  cursor: pointer;
}
.reset{
  background-color: gray;
  color: red;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.sub{
  color: white;
  background-color: red;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.add{
    color: white;
  background-color: green;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}