.nav {
  display: flex;
  justify-content: space-between;
  background-color: rebeccapurple;
}

.nav .list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav .list li a {
  color: white;
}
